*{
    font-family: 'Times New Roman', Times, serif;
}

/* Custom colors */
:root{
    --bestColor: rgb(0, 68, 255);
    --secondBestColor: rgb(0, 0, 0);
    --thirdBestColor: rgb(153, 0, 255);
}

body{
    background-color: var(--secondBestColor);
}

/* Headings */
h1{
    font-family: 'Times New Roman', Times, serif;
    color:var(--bestColor);
    margin-top: 80px;
    background-color: white;
    font-size: 50px;
}

/* Images */
img{
    border-style: solid;
    border-color: white;
    padding: 15px;
    max-width: 100%;

}

/* Nav links */
nav a{
    text-decoration: none;
    color: rgb(220, 20, 20);
    padding: 20px;
    font-size: 65px;
    background-color: white;

   
}


/* Paragraphs */
p{
    color: var(--thirdBestColor);
    font-size: 30px;
}

/* Button */
.button{
    text-decoration: none;
    color: black;
    padding: 50px;
    font-size: 50px;
   
}







/* Samsung galaxy 51/71 */
@media screen and (max-width: 412px){
body{ background-color: var(--secondBestColor);
}
}
 


/* Pixel 5 */
@media screen and (max-width: 393px) {
    body{ background-color: var(--secondBestColor);

    }
}

/* Samsung galaxy s8+ */
@media screen and (max-width: 360px) {
    body{ background-color: var(--secondBestColor);

    }
}